@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

#wrapper {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    color: #0000CC;
    border-bottom: double 3px;
}

h2 {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    color: #CC0000;
    border-bottom: solid 2px;
}

#fadein_fadeout {
    width: 500px;
    margin: 0 auto;
    height: 300px;
    margin-top: 20px;
}

#fadein_fadeout img {
    width: 500px;
    height: 300px;
    border-radius: 10px;
}

#slider {
    width: 500px;
    height: 300px;
    margin: 0 auto;
    margin-top: 20px;
}

div#slider {
    position: relative;
    overflow: hidden;
}

#slider img {
    position: absolute;
    top: 0;
    border: 0;
    width: 500px;
    height: 300px;
    border-radius: 10px;
}

p {
    width: 20%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    color: green;
}
